.page-container {
  min-height: calc(100vh - 80px - 400px);
  background-color: #fff;
  width: 100%;
}

.page-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 4rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .page-content {
    padding: 1rem 2rem;
  }
} 